<% provide(:title, "FAQ") %>
<h1>FAQ</h1>

<p>
<b>Why should I register on the site?</b><br>

<em>Peacock</em> provides proactive data base in which to contact potential employees , which are not necessarily professionals.<br>

If your company is registered on <em>Peacock</em>, they prefer to communicate with you through this medium.<br>

<b>Will my averages are curriculum ?</b><br>

Companies give great weight to your performance , and <em>Peacock</em> provides these virtues .<br>

<b>Can only propose professional skills ?</b><br>

Not at all, we all possess multiple skills , have knowledge of all makes you a complete person.<br>

<b>Can I handle the payroll of my company?</b><br>

For such contracts the <em>Diamond package</em> option for a small fee per employee.<br> <!-- Esta podria dirigirnos a una pagina de ventas -->

<b>I had problems with service and qualify me unfairly , what I can do?</b><br>

If you are an employee you can qualify for your employer , and the service is linked , however I do not change these values.<br>

But improving your service and it will be considered .<br>
</p>