<div class="center jumbotron">

<%= link_to image_tag("Peacock.png", alt: "Peacock logo"),
            root_path %>

  <h1>Welcome to <em>Peacock</em></h1>

  <h2>
    This is the home page for the simple experience of human resources.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
